body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.sidebar {
    width: 30%;
    border: grey 0.125rem solid;
    float: left;
    box-sizing: border-box;
    padding: 1rem;
    height: 100%;
    overflow-x: auto;
    overflow-y: scroll;
}

.parameter-container {
    padding-bottom: 1rem;
    border-bottom: grey 0.0625rem solid;
    margin-bottom: 1rem;
}

.parameter__option {
    display: inline-block;
    margin: 0.25rem 0.25rem 0 0.25rem;
    padding: 0.5rem;
    border: grey 0.0625rem solid;
    cursor: pointer;
}

.parameter__material {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0.325rem 0.0625rem 0.0625rem 0.0625rem;
    cursor: pointer;
}

#roomle-canvas-container {
    width: 70%;
    float: right;
    height: 100%;
}

.addon-element {
    width: 30%;
    overflow: hidden;
    display: inline-block;
    padding: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

.addon-element img {
    width: 100%;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.modal {
    width: 50%;
    height: 80%;
    overflow-y: auto;
    background: white;
    position: absolute;
    left: 25%;
    top: 10%;
    box-shadow: 10px 10px 32px -10px rgba(0,0,0,0.75);
    padding: 1rem;
    box-sizing: border-box;
    display: none;
}

.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

.shadow.show, .modal.show {
    display: block;
}

.perspective-image img {
    width: 50%;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

td {
    border: 1px solid black;
    padding: 0.25rem;
}

th:nth-child(4), td:nth-child(4) {
    text-align: right;
    min-width: 12.5rem;
}

.partlist-container {
    padding-bottom: 1rem;
}